
	 #chart
	 {
	 width:900px;
	 margin:0 auto;
	 overflow: hidden;
	 }

   #container0 {
  width:900px;
  margin:0 auto;
  overflow: hidden;
  }
  #bar0 {
  float:left;
  width:150px;
  }
  #bar1 {
  float:left;
  width:150px;
  }
  #bar2 {
  float:left;
  width:150px;
  }
  #bar3 {
  float:left;
  width:150px;
  }
  #bar4 {
  float:left;
  width:150px;
  }
  #bar5 {
  float:left;
  width:150px;
  }

  #container01 {
 width:750px;
 margin:0 auto;
 overflow: hidden;
 }
 #bar0 {
 float:left;
 width:150px;
 }
 #bar1 {
 float:left;
 width:150px;
 }
 #bar2 {
 float:left;
 width:150px;
 }
 #bar3 {
 float:left;
 width:150px;
 }
 #bar4 {
 float:left;
 width:150px;
 }
 #bar5 {
 float:left;
 width:150px;
 }

	#container1 {
 overflow: hidden;
 }
 #leftbar1 {
 float:left;
 width:25%;
 }
 #centerbar1 {
 float:left;
 width:25%;
 }
 #rightbar1 {
 float:left;
 width:25%;
 }
 #rightbar2 {
 float:left;
 width:25%;
 }
